<?xml version='1.0' encoding='utf-8'?>
<widget id="net.practisis.dashboard" version="2.0.0" versionCode="31" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Practisis Abaco</name>
    <description>
        Herramienta para Gerentes de Practisis
    </description>
    <author email="info@practisis.com" href="http://practisis.net">
        Practisis S.A.
    </author>
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
    <content src="index.html" />
	
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="17" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
		<!-- Josue Bugs
		<icon src="icon-57x.png5" width="57" height="57" />
		<icon src="x57.png" gap:platform="ios" width="57" height="57" />
	 -->

	<!-- iPhone 6 / 6+ --> 
	<icon src=" icon-60@3x.png " gap:platform="ios" width="180" height="180" />
	<icon src="icon-60.png" gap:platform="ios" width="60" height="60" /> 
	<icon src=" icon-60@2x.png " gap:platform="ios" width="120" height="120" />
	<icon src="icon-76.png" gap:platform="ios" width="76" height="76" /> 
	<icon src=" icon-76@2x.png " gap:platform="ios" width="152" height="152" /> 
	<icon src="icon-small.png" gap:platform="ios" width="29" height="29" /> 
	<icon src=" icon-small@2x.png " gap:platform="ios" width="58" height="58" />
	<icon src="icon-40.png" gap:platform="ios" width="40" height="40" /> 
	<icon src=" icon-40@2x.png " gap:platform="ios" width="80" height="80" /> 
    
	<!-- iPhone / iPod Touch --> 
	<!--<icon src="icon.png" gap:platform="ios" width="57" height="57" /> -->
	<icon src="57.png" width="57" height="57" gap:platform="ios" />
	<icon src="72.png" width="72" height="72" gap:platform="ios" />
	<icon src="114.png" width="114" height="114" gap:platform="ios" />
	<icon src="144.png" width="144" height="144" gap:platform="ios" />
	
	<icon src=" icon-57.png " gap:platform="ios" width="57" height="57" /> 
	<icon src=" icon@2x.png " gap:platform="ios" width="114" height="114" />
	<icon src="icon-72.png" gap:platform="ios" width="72" height="72" /> 
	<icon src=" icon-72@2x.png " gap:platform="ios" width="144" height="144" /> 
	<icon src="icon-small.png" gap:platform="ios" width="29" height="29" /> 
	<icon src=" icon-small@2x.png " gap:platform="ios" width="58" height="58" />
	<icon src="icon-50.png" gap:platform="ios" width="50" height="50" /> 
	<icon src=" icon-50@2x.png " gap:platform="ios" width="100" height="100" /> 
	
	<icon src=" icon-640x960@2x.png " gap:platform="ios" width="1280" height="1920" /> 
	<icon src=" icon-640x1136@1x.png " gap:platform="ios" width="640" height="1136" /> 
	<icon src=" icon-768x1024@1x.png " gap:platform="ios" width="768" height="1024" /> 
	<icon src=" icon-768x1024@2x.png " gap:platform="ios" width="1536" height="2048" />
	<icon src=" icon-1024x768@1x.png " gap:platform="ios" width="1024" height="768" />
	<icon src=" icon-768x1024@2x.png " gap:platform="ios" width="1024" height="768" />
	<icon src=" icon-750x1334@1x.png " gap:platform="ios" width="750" height="1334" />
	<icon src=" icon-1242x2208@2x.png " gap:platform="ios" width="2484" height="4416" />
	<icon src=" icon-2208x1242@2x.png " gap:platform="ios" width="4416" height="2484" />
	<icon src=" icon-29x29@1x.png " gap:platform="ios" width="29" height="29" />
	<icon src=" icon-29x29@2x.png " gap:platform="ios" width="58" height="58" />
	<icon src=" icon-29x29@3x.png " gap:platform="ios" width="87" height="87" />
	<icon src=" icon-40x40@1x.png " gap:platform="ios" width="40" height="40" />
	<icon src=" icon-40x40@3x.png " gap:platform="ios" width="120" height="120" />
	<icon src=" icon-60x60@2x.png " gap:platform="ios" width="120" height="120" />
	<icon src=" icon-60x60@3x.png " gap:platform="ios" width="180" height="180" />
	<icon src=" icon-76x76@1x.png " gap:platform="ios" width="76" height="76" />
	<icon src=" icon-76x76@2x.png " gap:platform="ios" width="152" height="152" />
	
	<icon src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" /> 
	<icon src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" /> 
	<icon src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" /> 
	<icon src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" /> 
	<icon src="xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" /> 
	<icon src="fr-xxhdpi.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
	
	<icon src="icon.png" gap:platform="winphone" /> <icon src="tileicon.png" gap:platform="winphone" gap:role="background" />
	 
	<!-- iPhone and iPod touch --> 
	<gap:splash src="Default.png" gap:platform="ios" width="320" height="480" /> 
	<gap:splash src=" Default@2x.png " gap:platform="ios" width="640" height="960" /> 
	<!-- iPhone 5 / iPod Touch (5th Generation) --> 
	<gap:splash src=" Default-568h@2x.png " gap:platform="ios" width="640" height="1136" /> 
	<!-- iPhone 6 --> 
	<gap:splash src=" Default-667h@2x.png " gap:platform="ios" width="750" height="1334" /> 
	<gap:splash src=" Default-Portrait-736h@3x.png " gap:platform="ios" width="1242" height="2208" /> 
	<gap:splash src=" Default-Landscape-736h@3x.png " gap:platform="ios" width="2208" height="1242" /> 
	<!-- iPad --> 
	<gap:splash src="Default-Portrait.png" gap:platform="ios" width="768" height="1024" /> 
	<gap:splash src="Default-Landscape.png" gap:platform="ios" width="1024" height="768" /> 
	<!-- Retina iPad --> 
	<gap:splash src=" Default-Portrait@2x.png " gap:platform="ios" width="1536" height="2048" /> 
	<gap:splash src=" Default-Landscape@2x.png " gap:platform="ios" width="2048" height="1536" /> 
	
	<gap:splash src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" /> 
	<gap:splash src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" /> 
	<gap:splash src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" /> 
	<gap:splash src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" /> 
	<gap:splash src="fr-xhdpi.png" gap:platform="android" gap:qualifier="fr-xhdpi" /> 
	<gap:splash src="portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" /> 
	<gap:splash src="landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
	
	<gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />
   
    <access origin="*" />
</widget>
